$a: #212529;

.menu {
    .menu_ul {
        text-align: left;
        .menu_ul_li {
            display: inline-block;

            a {
                text-decoration: none;
                color: $a;
                padding: 25px 15px;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1px;
                line-height: 24px;
                text-transform: uppercase;
                transition: all 1s linear;
            }
        }
    }
}

.form {
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 30%;
    margin-left: 30%;
    }
